<div class="row">
       <div class="col-md-6">
        <div class="form-group"> <label class="control-label">id</label>   <input  type="text" id="editar_id" name="editar_id" class="form-control" placeholder="" onkeypress="return handleEnter(this, event)">    </div>
      </div>
      <div class="col-md-6">
        <div class="form-group"> <label class="control-label">FK_usuarios_admin_id</label>   <input  type="text" id="editar_FK_usuarios_admin_id" name="editar_FK_usuarios_admin_id" class="form-control" placeholder="" onkeypress="return handleEnter(this, event)">    </div>
      </div>
      <div class="col-md-6">
        <div class="form-group"> <label class="control-label">id_loja</label>   <input  type="text" id="editar_id_loja" name="editar_id_loja" class="form-control" placeholder="" onkeypress="return handleEnter(this, event)">    </div>
      </div>
      <div class="col-md-6">
        <div class="form-group"> <label class="control-label">data_gerado</label>   <input  type="text" id="editar_data_gerado" name="editar_data_gerado" class="form-control" placeholder="" onkeypress="return handleEnter(this, event)">    </div>
      </div>
      <div class="col-md-6">
        <div class="form-group"> <label class="control-label">data_combinado_entrega</label>   <input  type="text" id="editar_data_combinado_entrega" name="editar_data_combinado_entrega" class="form-control" placeholder="" onkeypress="return handleEnter(this, event)">    </div>
      </div>
      <div class="col-md-6">
        <div class="form-group"> <label class="control-label">cliente</label>   <input  type="text" id="editar_cliente" name="editar_cliente" class="form-control" placeholder="" onkeypress="return handleEnter(this, event)">    </div>
      </div>
      <div class="col-md-6">
        <div class="form-group"> <label class="control-label">fk_id_cliente</label>   <input  type="text" id="editar_fk_id_cliente" name="editar_fk_id_cliente" class="form-control" placeholder="" onkeypress="return handleEnter(this, event)">    </div>
      </div>
      <div class="col-md-6">
        <div class="form-group"> <label class="control-label">nr_os</label>   <input  type="text" id="editar_nr_os" name="editar_nr_os" class="form-control" placeholder="" onkeypress="return handleEnter(this, event)">    </div>
      </div>
      <div class="col-md-6">
        <div class="form-group"> <label class="control-label">vendedor</label>   <input  type="text" id="editar_vendedor" name="editar_vendedor" class="form-control" placeholder="" onkeypress="return handleEnter(this, event)">    </div>
      </div>
      <div class="col-md-6">
        <div class="form-group"> <label class="control-label">fk_id_vendedor</label>   <input  type="text" id="editar_fk_id_vendedor" name="editar_fk_id_vendedor" class="form-control" placeholder="" onkeypress="return handleEnter(this, event)">    </div>
      </div>
      <div class="col-md-6">
        <div class="form-group"> <label class="control-label">observacao</label>   <input  type="text" id="editar_observacao" name="editar_observacao" class="form-control" placeholder="" onkeypress="return handleEnter(this, event)">    </div>
      </div>
      <div class="col-md-6">
        <div class="form-group"> <label class="control-label">pago</label>   <input  type="text" id="editar_pago" name="editar_pago" class="form-control" placeholder="" onkeypress="return handleEnter(this, event)">    </div>
      </div>
      <div class="col-md-6">
        <div class="form-group"> <label class="control-label">a_pagar</label>   <input  type="text" id="editar_a_pagar" name="editar_a_pagar" class="form-control" placeholder="" onkeypress="return handleEnter(this, event)">    </div>
      </div>
      <div class="col-md-6">
        <div class="form-group"> <label class="control-label">status_cliente</label>   <input  type="text" id="editar_status_cliente" name="editar_status_cliente" class="form-control" placeholder="" onkeypress="return handleEnter(this, event)">    </div>
      </div>
      <div class="col-md-6">
        <div class="form-group"> <label class="control-label">status_loja</label>   <input  type="text" id="editar_status_loja" name="editar_status_loja" class="form-control" placeholder="" onkeypress="return handleEnter(this, event)">    </div>
      </div>

    </div>